USE [master]
GO
/****** Object:  Database [Quan_ly_thu_vien]    Script Date: 5/26/2024 11:56:29 PM ******/
CREATE DATABASE [Quan_ly_thu_vien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quan_ly_thu_vien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Quan_ly_thu_vien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quan_ly_thu_vien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Quan_ly_thu_vien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quan_ly_thu_vien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quan_ly_thu_vien]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[Mabaocao] [char](10) NOT NULL,
	[Ngaybaocao] [date] NOT NULL,
	[Manhanvien] [char](10) NOT NULL,
 CONSTRAINT [PK_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[Mabaocao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUNGCAP]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUNGCAP](
	[Malo] [char](10) NOT NULL,
	[MaNCC] [char](10) NOT NULL,
	[Ngaygiao] [date] NOT NULL,
 CONSTRAINT [PK_CUNGCAP_1] PRIMARY KEY CLUSTERED 
(
	[Malo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[Tendangnhap] [varchar](20) NOT NULL,
	[Matkhau] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MaDG] [char](10) NOT NULL,
	[TenDG] [nvarchar](100) NOT NULL,
	[Ngaysinh] [date] NOT NULL,
	[Donvi] [varchar](50) NOT NULL,
	[Diachi] [nvarchar](200) NULL,
	[CN] [nvarchar](50) NOT NULL,
	[Ngaycapthe] [date] NOT NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGCUNGCAP]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGCUNGCAP](
	[Malo] [char](10) NOT NULL,
	[Masach] [char](10) NOT NULL,
	[Soluongsach] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGDONSACH]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGDONSACH](
	[Madon] [char](10) NOT NULL,
	[MaNCC] [char](10) NOT NULL,
	[TensachDM] [nvarchar](100) NOT NULL,
	[Dongia] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGMUON]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGMUON](
	[Maphieumuon] [char](10) NOT NULL,
	[Masach] [char](10) NOT NULL,
	[Ngayhentra] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONSACH]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONSACH](
	[Madon] [char](10) NOT NULL,
	[Manhanvien] [char](10) NOT NULL,
	[Ngaydat] [date] NOT NULL,
 CONSTRAINT [PK_DONSACH] PRIMARY KEY CLUSTERED 
(
	[Madon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUON]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUON](
	[Maphieumuon] [char](10) NOT NULL,
	[MaDG] [char](10) NOT NULL,
	[Ngaymuon] [date] NOT NULL,
 CONSTRAINT [PK_MUONTRA] PRIMARY KEY CLUSTERED 
(
	[Maphieumuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [char](10) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[Manhanvien] [char](10) NOT NULL,
	[Tennhanvien] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[Manhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHICHSACH]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHICHSACH](
	[Maphichsach] [char](10) NOT NULL,
	[Nhande] [nvarchar](100) NOT NULL,
	[TTND] [nvarchar](200) NOT NULL,
	[Sotrang] [int] NOT NULL,
	[Manhanvien] [char](10) NOT NULL,
 CONSTRAINT [PK_PHICHSACH] PRIMARY KEY CLUSTERED 
(
	[Maphichsach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[Masach] [char](10) NOT NULL,
	[Tensach] [nvarchar](100) NOT NULL,
	[TenTG] [nvarchar](100) NOT NULL,
	[NXB] [nvarchar](100) NULL,
	[NamXB] [date] NOT NULL,
	[Giatien] [float] NOT NULL,
	[Ngonngu] [nvarchar](50) NULL,
	[Loaisach] [nvarchar](50) NOT NULL,
	[Maphichsach] [char](10) NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[Masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRA]    Script Date: 5/26/2024 11:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA](
	[MaDG] [char](10) NOT NULL,
	[Masach] [char](10) NOT NULL,
	[Ngaytra] [date] NOT NULL,
	[Tinhtrang] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CUNGCAP] ([Malo], [MaNCC], [Ngaygiao]) VALUES (N'1         ', N'1         ', CAST(N'2023-12-28' AS Date))
GO
INSERT [dbo].[DOCGIA] ([MaDG], [TenDG], [Ngaysinh], [Donvi], [Diachi], [CN], [Ngaycapthe]) VALUES (N'2121050003', N'V', CAST(N'2010-02-03' AS Date), N'CNTT', N'HN', N'KHMT', CAST(N'2024-05-08' AS Date))
INSERT [dbo].[DOCGIA] ([MaDG], [TenDG], [Ngaysinh], [Donvi], [Diachi], [CN], [Ngaycapthe]) VALUES (N'2121051301', N'NNH', CAST(N'2002-04-10' AS Date), N'KT', N'HN', N'QTKD', CAST(N'2024-05-08' AS Date))
INSERT [dbo].[DOCGIA] ([MaDG], [TenDG], [Ngaysinh], [Donvi], [Diachi], [CN], [Ngaycapthe]) VALUES (N'2121051366', N'TTT', CAST(N'2010-02-17' AS Date), N'CNTT', N'HN', N'CNPM', CAST(N'2024-05-22' AS Date))
GO
INSERT [dbo].[DONGCUNGCAP] ([Malo], [Masach], [Soluongsach]) VALUES (N'1         ', N'1         ', 200)
INSERT [dbo].[DONGCUNGCAP] ([Malo], [Masach], [Soluongsach]) VALUES (N'1         ', N'2         ', 350)
GO
INSERT [dbo].[DONGDONSACH] ([Madon], [MaNCC], [TensachDM], [Dongia]) VALUES (N'1         ', N'1         ', N'CNPM', 12000)
GO
INSERT [dbo].[DONGMUON] ([Maphieumuon], [Masach], [Ngayhentra]) VALUES (N'1         ', N'2         ', CAST(N'2024-05-08' AS Date))
GO
INSERT [dbo].[DONSACH] ([Madon], [Manhanvien], [Ngaydat]) VALUES (N'1         ', N'1         ', CAST(N'2023-12-20' AS Date))
GO
INSERT [dbo].[MUON] ([Maphieumuon], [MaDG], [Ngaymuon]) VALUES (N'1         ', N'2121050003', CAST(N'2024-01-01' AS Date))
INSERT [dbo].[MUON] ([Maphieumuon], [MaDG], [Ngaymuon]) VALUES (N'3         ', N'2121051368', CAST(N'2024-02-01' AS Date))
INSERT [dbo].[MUON] ([Maphieumuon], [MaDG], [Ngaymuon]) VALUES (N'5         ', N'2121050003', CAST(N'2024-01-01' AS Date))
GO
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC]) VALUES (N'1         ', N'MDC')
GO
INSERT [dbo].[NHANVIEN] ([Manhanvien], [Tennhanvien]) VALUES (N'1         ', N'NMT')
GO
INSERT [dbo].[PHICHSACH] ([Maphichsach], [Nhande], [TTND], [Sotrang], [Manhanvien]) VALUES (N'1         ', N'CNPM', N'Hay', 45, N'1         ')
INSERT [dbo].[PHICHSACH] ([Maphichsach], [Nhande], [TTND], [Sotrang], [Manhanvien]) VALUES (N'2         ', N'CNPC', N'Hot', 50, N'1         ')
GO
INSERT [dbo].[SACH] ([Masach], [Tensach], [TenTG], [NXB], [NamXB], [Giatien], [Ngonngu], [Loaisach], [Maphichsach]) VALUES (N'1         ', N'CNPM', N'PAC', N'KD', CAST(N'2021-01-01' AS Date), 12000, N'VN', N'Giáo trình', N'1         ')
INSERT [dbo].[SACH] ([Masach], [Tensach], [TenTG], [NXB], [NamXB], [Giatien], [Ngonngu], [Loaisach], [Maphichsach]) VALUES (N'2         ', N'CNPC', N'TTH', N'TT', CAST(N'2002-02-12' AS Date), 23000, N'VN', N'Tham khao', N'2         ')
GO
INSERT [dbo].[TRA] ([MaDG], [Masach], [Ngaytra], [Tinhtrang]) VALUES (N'2121051369', N'1         ', CAST(N'2024-02-04' AS Date), N'Hong')
INSERT [dbo].[TRA] ([MaDG], [Masach], [Ngaytra], [Tinhtrang]) VALUES (N'2121051369', N'2         ', CAST(N'2024-08-04' AS Date), N'Hong')
INSERT [dbo].[TRA] ([MaDG], [Masach], [Ngaytra], [Tinhtrang]) VALUES (N'2121051368', N'1         ', CAST(N'2024-07-04' AS Date), N'Hong')
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAO_NHANVIEN] FOREIGN KEY([Manhanvien])
REFERENCES [dbo].[NHANVIEN] ([Manhanvien])
GO
ALTER TABLE [dbo].[BAOCAO] CHECK CONSTRAINT [FK_BAOCAO_NHANVIEN]
GO
ALTER TABLE [dbo].[CUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CUNGCAP_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[CUNGCAP] CHECK CONSTRAINT [FK_CUNGCAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DONGCUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_DONGCUNGCAP_CUNGCAP] FOREIGN KEY([Malo])
REFERENCES [dbo].[CUNGCAP] ([Malo])
GO
ALTER TABLE [dbo].[DONGCUNGCAP] CHECK CONSTRAINT [FK_DONGCUNGCAP_CUNGCAP]
GO
ALTER TABLE [dbo].[DONGCUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_DONGCUNGCAP_SACH] FOREIGN KEY([Masach])
REFERENCES [dbo].[SACH] ([Masach])
GO
ALTER TABLE [dbo].[DONGCUNGCAP] CHECK CONSTRAINT [FK_DONGCUNGCAP_SACH]
GO
ALTER TABLE [dbo].[DONGDONSACH]  WITH CHECK ADD  CONSTRAINT [FK_DONGDONSACH_DONSACH] FOREIGN KEY([Madon])
REFERENCES [dbo].[DONSACH] ([Madon])
GO
ALTER TABLE [dbo].[DONGDONSACH] CHECK CONSTRAINT [FK_DONGDONSACH_DONSACH]
GO
ALTER TABLE [dbo].[DONGDONSACH]  WITH CHECK ADD  CONSTRAINT [FK_DONGDONSACH_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[DONGDONSACH] CHECK CONSTRAINT [FK_DONGDONSACH_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DONGMUON]  WITH CHECK ADD  CONSTRAINT [FK_DONGMUON_MUON] FOREIGN KEY([Maphieumuon])
REFERENCES [dbo].[MUON] ([Maphieumuon])
GO
ALTER TABLE [dbo].[DONGMUON] CHECK CONSTRAINT [FK_DONGMUON_MUON]
GO
ALTER TABLE [dbo].[DONGMUON]  WITH CHECK ADD  CONSTRAINT [FK_DONGMUON_SACH] FOREIGN KEY([Masach])
REFERENCES [dbo].[SACH] ([Masach])
GO
ALTER TABLE [dbo].[DONGMUON] CHECK CONSTRAINT [FK_DONGMUON_SACH]
GO
ALTER TABLE [dbo].[DONSACH]  WITH CHECK ADD  CONSTRAINT [FK_DONSACH_NHANVIEN] FOREIGN KEY([Manhanvien])
REFERENCES [dbo].[NHANVIEN] ([Manhanvien])
GO
ALTER TABLE [dbo].[DONSACH] CHECK CONSTRAINT [FK_DONSACH_NHANVIEN]
GO
ALTER TABLE [dbo].[MUON]  WITH CHECK ADD  CONSTRAINT [FK_MUONTRA_DOCGIA] FOREIGN KEY([MaDG])
REFERENCES [dbo].[DOCGIA] ([MaDG])
GO
ALTER TABLE [dbo].[MUON] CHECK CONSTRAINT [FK_MUONTRA_DOCGIA]
GO
ALTER TABLE [dbo].[PHICHSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHICHSACH_NHANVIEN] FOREIGN KEY([Manhanvien])
REFERENCES [dbo].[NHANVIEN] ([Manhanvien])
GO
ALTER TABLE [dbo].[PHICHSACH] CHECK CONSTRAINT [FK_PHICHSACH_NHANVIEN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_PHICHSACH] FOREIGN KEY([Maphichsach])
REFERENCES [dbo].[PHICHSACH] ([Maphichsach])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_PHICHSACH]
GO
ALTER TABLE [dbo].[TRA]  WITH CHECK ADD  CONSTRAINT [FK_TRA_DOCGIA] FOREIGN KEY([MaDG])
REFERENCES [dbo].[DOCGIA] ([MaDG])
GO
ALTER TABLE [dbo].[TRA] CHECK CONSTRAINT [FK_TRA_DOCGIA]
GO
ALTER TABLE [dbo].[TRA]  WITH CHECK ADD  CONSTRAINT [FK_TRA_SACH] FOREIGN KEY([Masach])
REFERENCES [dbo].[SACH] ([Masach])
GO
ALTER TABLE [dbo].[TRA] CHECK CONSTRAINT [FK_TRA_SACH]
GO
USE [master]
GO
